<div class="userWrapper card mb-3" *ngFor="let user of users">
  <div class="imgUserWrapper row g-0">
    <div class="col-md-4 d-flex">
      <img [src]="user.image" [alt]="user.firstName" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{ user.firstName }} {{ user.lastName }}</h4>
        <h6 class="card-text">{{ user.title }}</h6>
        <p class="card-text">Email: {{ user.email }}</p>
        <ul *ngIf="user.todo && user.todo.length > 0">
          <li *ngFor="let todo of user.todo">
            <div
              class="taskDiv"
              [ngStyle]="{
                background: todo.completed ? '#d8b9ec' : '#bac6f8'
              }"
            >
              <div class="align-checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" [(ngModel)]="todo.completed" />
                  <span class="checkmark"></span>
                </label>
                <h5>{{ todo.todo }}</h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
