<main>
  <div class="sidebar d-flex flex-column flex-shrink-0 p-3">
    <img src="/sample_0.jpg" alt="app logo" />
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link" aria-current="page"> To do </a>
      </li>
      <li>
        <a routerLink="/completed" class="nav-link"> Completed </a>
      </li>
      <li>
        <a routerLink="/users" class="nav-link"> Users </a>
      </li>
    </ul>
    <hr />
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center text-decoration-none"
        aria-expanded="false"
      >
        <p class="topPage">Go to the top of the page</p>
      </a>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</main>
