main {
  display: flex;
  background-color: #201c1d;
  gap: 2rem;
}

.sidebar {
  width: 250px;
  background-color: #201c1d;
  .topPage {
    color: #f4b5d6;
    font-weight: 700;
  }
}

// .currentPage {
//   background-color: #f4b5d6;
//   color: #201c1d;
// }

a {
  color: #f4b5d6;
  font-weight: 700;
  &:hover {
    color: #8a4b6c;
    font-size: 110%;
  }
}
