@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

main {
  display: flex;
  background-color: #201c1d;
  gap: 2rem;
  font-family: "Afacad Flux", sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #201c1d;
  .topPage {
    color: #f4b5d6;
    font-weight: 700;
  }
}

a {
  color: #f1929e;
  font-weight: 700;
  font-size: 25px;
  &:hover {
    color: #8a4b6c;
    font-size: 190%;
  }
  &:last-of-type {
    font-size: 20px;
  }
}
